footer.page {
  background: #601ef9;
  color: white;

  padding: 2rem 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer.page h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
  padding: 0.25rem 0;
}

footer.page menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer.page menu {
  text-align: left;
}
.page li {
  text-align: left;
}

footer.page menu a:hover {
  text-decoration: underline;
}

@media (min-width: 720px) {
  footer.page {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}
